@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  user-select: none; /* Disable text selection */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer */
}

@keyframes fadeInFromTop {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOutToTop {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-20px);
  }
}

.modal-fade-in {
  animation: fadeInFromTop 0.5s ease-in-out forwards;
}

.modal-fade-out {
  animation: fadeOutToTop 0.5s ease-in-out forwards;
}
